.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 0px 80px;
  /*font-family: var(--font-geist-sans);*/
  overflow-x: hidden;
  flex-wrap: wrap;

  padding: 0rem 20rem;
}

@media (max-width: 1200px) {
  .page {
    padding: 0rem 10rem;
  }
}

@media (max-width: 800px) {
  .page {
    padding: 0rem 2rem;
    padding-bottom: 80px;
  }

  .main {
    flex-wrap: wrap;
  }

}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: var(--blue-1);
    transition: background-color 0.3s ease;
  }
}


.socialIcon {
  color: var(--gray-9);
  transition: color 0.2s ease;
}

.socialIcon:hover {
  color: var(--gray-12);
}

.badge {
  box-shadow: var(--shadow-1);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.badgeContainer {
  flex-wrap: wrap;
}

.sectionContainer {
  padding: 4rem 0rem;
  width: 100%;
  transition: border-color 0.3s ease;
}

.separator {
  width: 75px;
  border-bottom: 0.5px solid var(--gray-6);
  transition: border-color 0.3s ease;
}

.cardContainer {
  flex-direction: column;
}

.card {
  box-shadow: var(--shadow-3);
  margin: 0;
  background-color: var(--blue-2);
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease;
  flex-wrap: wrap;
  padding: 1rem;
}

.listContainer {
  flex-direction: row;
  margin-left: 1rem;
  color: var(--gray-11);
  list-style: disc;
}

.listItemText {
  /*color: var(--gray-11);*/
  margin: 0;
}

.separator {
  height: 1px;
  margin: 0;
}

.anchor {
  display: flex;
  max-width: fit-content;
  align-items: center;
  transition: transform 0.3s ease;
}

.anchor:hover {
  /*color: rgb(193, 252, 193);*/
  text-decoration: underline;
  /*color: var(--blue-9);*/
}

.anchorText {
  color: var(--gray-12);
  margin-right: 2px;
  transition: transform 0.2s ease;
}

.arrowRightIcon {
  align-items: center;
  transition: transform 0.2s ease;
}

.anchor:hover .arrowRightIcon {
  transform: translateX(5px);
}

.contactAnchor {
  width: fit-content;
}

.contactAnchor:hover {
  text-decoration: underline var(--gray-10);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
