.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    color: var(--gray-11);
}

.content {
  border-top: 0.5px solid var(--gray-6);
  transition: border-top 0.3s ease;
  padding: 1rem;
}

.socialIcon {
  color: var(--gray-10);
  transition: color 0.2s ease;
}

.socialIcon:hover {
  color: var(--gray-12);
}

@media (max-width: 800px) {
    .footer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .footer a:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
}