.container {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.5rem 2rem;
    height: 60px;

    border-bottom: solid;
    border-width: 0.5px;
    border-color: var(--gray-3);
    background-color: transparent;
    backdrop-filter: blur(9px);
    
    font-family: var(--font-geist-sans);
    transition: border-color 0.3s ease;
}

.headerLogoText {
    font-size: 30px;
    font-weight: bold;
}