.container {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.5rem 80px;
    height: 60px;

    border-bottom: solid;
    border-width: 0.5px;
    border-color: rgba(36, 38, 42, 0.5);
    /*background-color: rgba(17, 17, 19, 0.8);*/
    background-color: transparent;
    backdrop-filter: blur(9px);
    
    font-family: var(--font-geist-sans)
}


.lightSwitch {
    align-items: center;
}

.headerLogoText {
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        padding: 0.5rem 32px;
    }
}